<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Hackathon</title>
    
    <style>
        #prevq {
            margin: 10px;
        }
        .card {
            margin-top: 10px;
        }
        .navbar-brand {
            color: black;
        }
        .navbar {
            background-color: #ced4da;
        }
    </style>
    </head>

<body>
    
<nav class="navbar navbar-light navbar-expand-md justify-content-between">
    <div class="container-fluid">
        <h1 class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25">Gesture Survey</h1>
    </div>
</nav>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-8  offset-lg-2">
                    <div id="video" class="card text-center">
                        <div class="card-header text-white" style="background-color: #007bff;">
                            <span class="h5" id="question"> </span>
                        </div>
                        <!-- <div class="card-body">
                            <h4 id="question" class="card-title"></h4>
                        </div> -->
                        <img class="card-img-bottom" src="{{ url_for('video_feed') }}" width="100%">
                    </div>
                <div class="" style="margin: 10px 0;" id="previous"></div>
                <div id="submit"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        let curAnswer = 0;
        function fetchdata() {
            $.ajax({
                url: '/data',
                type: 'post',
                success: function (response) {
                    console.log(response)
                    if (response.working) {
                        if (response.qIndex <  response.questions.length) {
                            document.getElementById("question").innerHTML = response.questions[response.qIndex];
                        } else {
                            $( "#question" ).remove();
                            $( "#video" ).remove();
                            if (response.answers[response.answers.length-1] == "Yes") {
                                //window.location.replace("/done")
                                $('#submit').html("<span class='h3'> Thank you! </span> <br>")
                            } else {
                                // window.location.replace("http://stackoverflow.com")
                            }
                        }
                        if (response.answers.length > curAnswer) {
                            $('#previous').append("<div class='card' style='width: 100%;'> <span id='prevq' class='h5'> " + response.questions[curAnswer] + "</span> <span class='text-muted h5'> " + response.answers[curAnswer] + "</span> </div>")
                            curAnswer++;
                        }
                    }
                }
            });
        }

        $(document).ready(function () {
            setInterval(fetchdata, 500);
        });

    </script>

</body>

</html>